*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.createPostbtn{
    cursor: pointer;
    transition: 0.3s;
}
.createPostbtn:hover{
    background-color: black;
    color: white;
}
textarea{
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
}